html {
  box-sizing: border-box;
  line-height: 1.5;
  background-color: #fff;
  margin: 0;
}

*, *::before, *::after {
  box-sizing: inherit;
}

body {
  margin: 0;
}

h1 {
  font-family: "Sigmar One", cursive;
  color: #b20953;
  text-align: center;
  margin: 0;
  font-size: 3rem;
}

h2 {
  font-family: "Sigmar One", cursive;
  color: #b20953;
  font-size: 1.875rem;
  margin: 0;
  padding: 18px 0 7px;
}

p {
  font-size: 1.125rem;
  color: #2f2d13;
}

nav, footer {
  background-color: #ffe500;
}

.nav ul {
  padding: 0;
  margin: 0;
  text-align: center;
}

li {
  display: inline-block;
  list-style-type: none;
  text-align: center;
}

ul {
  padding: 0;
  margin: 0;
}

.nav {
  text-align: center;
}

.nav li {
  display: inline-block;
}

.nav a {
  padding: .2em .5em .3em;
  background-color: #b2a212;
  color: #fff;
  text-decoration: none;
  border-radius: 4px;
  font-family: Georgia, serif;
  font-size: 1.125rem;
}

.nav a:hover {
  background-color: #cc1465;
}

.nav .current {
  background-color: #cc1465;
}

div {
  background-color: #fff;
  padding: 10px;
  margin: .3em;
}

.copy {
  background-color: #ffe500;
  padding: 10px;
  text-align: center;
  font-size: .75rem;
  margin: 0;
  border-style: none;
}

img {
  width: 100%;
  display: block;
}
